<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h5>Usuarios:</h5>
        </div>
        <div class="card-body">
            <section *ngFor="let u of usuarios">
                <p>{{u.nome}}</p>
            </section>
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="card-header">
            <h5>Ambientes:</h5>
        </div>
        <div class="card-body">
            <section *ngFor="let a of ambientes">
                {{a.nome}}
            </section>
        </div>
    </div>
    <hr>

    <div class="card">
        <div class="card-header">
            <h5>Reservas:</h5>
        </div>
        <div class="card-body">
            <section *ngFor="let r of reservas">
                <p>De: {{r.inicio | date:'fullDate'}}, À {{r.final | date:'fullDate'}} <br> Usuario: {{r.usuario.nome}} <br> Ambiente: {{r.ambiente.nome}}</p>
            </section>
        </div>
    </div>
</div>


<!-- Aviso: Retornar de páginas durante cadastro ou atualizações por meio da função location.back()
ou clicar na seta do navegador resulta no apêndice de um objeto INCOMPLETO no arquivo json
Verificar por quê. 
Como realizar:
1) Entre em cadastro_x ou atualizar_x
2) clique no botão para retornar a página anterior OU clique no botão Retornar nas páginas editar_x
3) Verifique json para confirmar que pelo menos UM dos campos se encontra nulo ou vazio
4) Resulta em erro de PROMISE não identificado atualmente.
-->