<div class="card">
    <section class="card-body">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="usuario">Usuario:</label>
                <select required name="usuario" id="usuario" class="form-control" [(ngModel)]="form.usuario">
                    <option *ngFor="let u of api.usuarios" value={{u.id}}>
                        {{u.codigo}} - {{u.nome}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="ambiente">Ambiente:</label>
                <select required name="ambiente" id="ambiente" class="form-control" [(ngModel)]="form.ambiente">
                    <option *ngFor="let u of api.ambientes" value={{u.id}}>
                        {{u.codigo}} - {{u.nome}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="inicio">Data e hora de inicio:</label>
                <input required type="datetime-local" name="inicio" id="inicio" [(ngModel)]="form.inicio" class="form-control">
            </div>
            <div class="form-group">
                <label for="final">Data e hora final:</label>
                <input required type="datetime-local" name="final" id="final" [(ngModel)]="form.final" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </section>

    <div *ngIf="erro" class="alert alert-danger">
            <div class = "card">
                <div class = "card-body">
                    <div *ngIf="erroAmbiente">
                        <h3>Erro. Horarios conflitantes para o ambiente selecionado</h3>
                    </div>
                    <div *ngIf="erroUsuario">
                        <h3>Erro. Horarios conflitantes para o usuário selecionado</h3>
                    </div>
                    <h4>Em conflito com: <br> Usuario: {{erroSource.usuario.nome}} | Ambiente: {{erroSource.ambiente.nome}} | Horario de inicio: {{erroSource.inicio}} | Horario de termino: {{erroSource.final}}</h4> 
                    <button class = "btn btn-primary" (click)="hideError()">Esconder</button>
                </div>
            </div>
        </div>
</div>